.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: auto;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 10px;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body{
    background-color: rgb(209, 199, 199);
}